<!DOCTYPE html>
<head>

</head>
<body>
  <nav>
    <ul>
      <li><a routerLink="edu/certi">Upload</a></li>
      <li><a routerLink="emp/datas">Bank details</a></li>
      <li><a routerLink="sub/quar">Quarters</a></li>
      <li><a routerLink="sub1/vehic">Transport</a></li>
      <li><a routerLink="college/details">Time Table</a></li>
      <li><a routerLink="personal/info">Info</a></li>
      <li><a routerLink="hw">HOME</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <footer></footer>
</body>